.header {
    background-color: $primary;
    height: 58px;
   
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    color: $light;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    .header__logo {
        position: relative;
        width: 180px;
        height: 86px;
        z-index: 999;
        background-color: $primary;
        .header__logo__icon {
            margin-left: 13px;
            margin-right: 12px;
        }
    }
    .header__links {
        display: flex;
        justify-content: space-between;
        width: auto;
        height: 100%;
        color: $light;
        .header__link {
            width: auto;
            height: 100%;
            color: #ffffff;
            padding: 20px 20px 20px 21px;
            &:hover {
                background-color:$light;
                color:$primary;
            }
        }
    }
    .header__right-block {
        display: flex;
        justify-content: space-between;
        width: auto;
        .btn_white {
            background-color: $primary;
            padding: 19px;
            margin: 0;
            border: none;
            border-left: 1px solid #aa0c48;
            height: 58px;
        }
    }
}