* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DroidSerif';
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

a {
  text-decoration: none;
}